$dark-palette-primary: (
  (
    50: #dcf7f5,
    100: #a9eae7,
    200: #6ddbd9,
    300: #00cccc,
    400: #00c1c4,
    500: #00b6be,
    600: #00a7ad,
    700: #009294,
    800: #007e7d,
    900: #005a53,

    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #ffffff,
      400: #000000,
      500: #ffffff,
      600: #000000,
      700: #000000,
      800: #000000,
      900: #ffffff,
    ),
  )
);

$dark-palette-accent: (
  (
    50: #fffde5,
    100: #fff9c0,
    200: #fff596,
    300: #fff069,
    400: #fdeb43,
    500: #fbe60b,
    600: #ffd710,
    700: #febe03,
    800: #fea500,
    900: #fc7900,

    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #000000,
      600: #000000,
      700: #000000,
      800: #ffffff,
      900: #ffffff,
    ),
  )
);
