@use '../../../../../../assets/theme/colors.scss';

mat-card {
	width: 216px;
	height: 306px;
	border-radius: 12px;
	background-color: colors.$background-card-color;
	cursor: pointer;
}

mat-card-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* text-align: center; */
	align-content: center;
	transform: translateX(-11px);

	img {
		border-radius: 8px;
		object-fit: cover;
		width: 206px;
		height: 184px;
		text-align: center;
		margin-top: -13px;
	}
}

mat-card-content {
	text-align: center;
	margin-top: 2px;

	mat-card-title,
	mat-card-subtitle {
		font-size: 14px;
	}
	mat-card-title {
		font-weight: bold;
	}

	mat-card-title {
		margin-top: 10px;
	}

	mat-card-subtitle {
		margin-top: -10px;
	}

	p {
		color: colors.$accent-color;
		font-size: 12px;
		margin-top: -12px;
		font-weight: bold;
	}
}

mat-card-actions {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	// text-align: center;
	margin-top: -15px;

	a > img {
		width: 24px;
		// margin-right: 10px;
	}
}
