<div class="container">
	<section class="search">
		<button mat-flat-button color="primary" (click)="clickNewRegistre()">Nuevo registro</button>
		<mat-form-field appearance="outline">
			<mat-label>Ingresa el nombre de tu medio de difusión</mat-label>
			<input matInput type="text" />
			<mat-icon matPrefix>search</mat-icon>
		</mat-form-field>
	</section>

	<section class="broadcast-medium">
		<app-card-content-creator
			*ngFor="let item of broadcastMediumList"
			[broadCastMedium]="item"
			(clickEdit)="clickEdit($event)"
			(clickDelete)="clickDelete($event)"
		></app-card-content-creator>
	</section>
</div>
