<form
  class="form"
  (click)="$event.stopPropagation()"
  (keydown)="$event.stopPropagation()"
  [formGroup]="form"
  (ngSubmit)="submitLogin()"
>
  <mat-form-field appearance="outline">
    <mat-label>Usuario</mat-label>
    <input matInput type="text" formControlName="email" />
    <mat-icon matPrefix>alternate_email</mat-icon>
    <mat-error *ngIf="emailField.hasError('required')">
      El email es <strong>requerido</strong>
    </mat-error>
    <mat-error *ngIf="emailField.hasError('email')">
      Ingresse un email <strong>valido</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Contraseña</mat-label>
    <input matInput type="password" formControlName="password" />
    <mat-icon matPrefix>password</mat-icon>
    <mat-error *ngIf="emailField.hasError('required')">
      La contraseña es <strong>requerida</strong>
    </mat-error>
  </mat-form-field>

  <button mat-flat-button color="primary" type="submit">Ingresar</button>
</form>
